/* Set margin and padding to 0 for the entire document */
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #008cff, #ff00a9);
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

/* Center the heading text vertically and horizontally */
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the heading text */
.heading h1 {
  margin: 20px auto;
  color: aliceblue;
  font-size: 5vmin;
  font-family: 'Sacramento', cursive;
}

/* Container for the todo list and added todos */
.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* Styling for the todo list and added todos */
.todo-list,
.added-todo {
  height: 80vh;
  width: 50%;
  overflow-y: scroll;
  padding: 20px;
}

/* Styling for the scrollbar */
.todo-list::-webkit-scrollbar,
.added-todo::-webkit-scrollbar {
  width: 10px;
}

.todo-list::-webkit-scrollbar-thumb,
.added-todo::-webkit-scrollbar-thumb {
  background-color: rgba(0, 140, 255, 0.8);
  border-radius: 5px;
}

.todo-list::-webkit-scrollbar-track,
.added-todo::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Styling for the item container */
#ItemContainer {
  background-color: rgba(29, 29, 148, 0.629);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling for the title */
#title {
  color: aliceblue;
  font-size: 3vmin;
  flex-grow: 1;
}

/* Styling for the button */
#button {
  width: 5vmin;
  height: 5vmin;
  background-color: #c1d4ee;
  font-size: 3vmin;
  border-radius: 15px;
}