body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #008cff, #ff00a9);
  opacity: 0.8;
  z-index: -1;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  margin: 20px auto;
  /* Optional: Removes default margin */
  color: aliceblue;
  font-size: 5vmin;
  font-family: 'Sacramento', cursive;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.todo-list,
.added-todo {
  height: 69vh;
  width: 50%;
  overflow-y: scroll;
  padding: 20px;
}

.todo-list::-webkit-scrollbar,
.added-todo::-webkit-scrollbar {
  width: 10px;
}

.todo-list::-webkit-scrollbar-thumb,
.added-todo::-webkit-scrollbar-thumb {
  background-color: rgba(0, 140, 255, 0.8);
  border-radius: 5px;
}

.todo-list::-webkit-scrollbar-track,
.added-todo::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

#ItemContainer {
  background-color: rgba(29, 29, 148, 0.629);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  height: 10vh;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

#title {
  color: aliceblue;
  font-size: 3vmin;
  flex-grow: 1; 
}

#button {
  width: 5vmin;
  height: 5vmin;
  background-color: #c1d4ee;
  font-size: 3vmin;
  border-radius: 15px;
}